%section.user-image
  Foto da pessoa
%section.infos
  %section.personal
    %p
      %strong Nome
      Admin
    %p
      %srong Email
      admin@player.com
    %p
      %strong Username
      @admin
    %p
      %strong Time
      Barcelona
  %section.stats
    %p
      %strong Vit칩rias
      10
    %p
      %strong Empates
      20
    %p
      %strong Derrotas
      5
<!-- A section abaixo s칩 aparece quando um usu치rio logado entra no perfil de outro usu치rio. -->
%section.last-challenges
  %ul
    %li
      %span.team Barcelona
      %span.resultado 3 X 1
      %span.other-team Manchester United (Argentino)
    %li
      %span.team Barcelona
      %span.resultado 3 X 1
      %span.other-team Manchester United (Argentino)
    %li
      %span.team Barcelona
      %span.resultado 3 X 1
      %span.other-team Manchester United (Argentino)
    %li
      %span.team Barcelona
      %span.resultado 3 X 1
      %span.other-team Manchester United (Argentino)
    %li
      %span.team Barcelona
      %span.resultado 3 X 1
      %span.other-team Manchester United (Argentino)

%section.last-games
  %ul
    %li
      %span.team Barcelona
      %span.resultado 3 X 1
      %span.other-team Manchester United (Argentino)
    %li
      %span.team Barcelona
      %span.resultado 3 X 1
      %span.other-team Manchester United (Argentino)
    %li
      %span.team Barcelona
      %span.resultado 3 X 1
      %span.other-team Manchester United (Argentino)
    %li
      %span.team Barcelona
      %span.resultado 3 X 1
      %span.other-team Manchester United (Argentino)
    %li
      %span.team Barcelona
      %span.resultado 3 X 1
      %span.other-team Manchester United (Argentino)