#ranking.block
  %ul
    - @ranking.each do |ranking|
      %li{class: "pos#{ranking.row}", id: ranking.player.id}
        %label{id: 'username'}= ranking.player.username
        %a.ver-perfil{href: 'javascript:void(0);'}
        %a.nova-partida{href: 'javascript:void(0);'}