#ranking.block
  %ul
    - @ranking.each do |ranking|
      %li{class: "pos#{ranking.row} ranking-row", id: ranking.player.id}
        %label{id: 'name'}= ranking.player.name

        %a.ver-perfil{href: 'javascript:void(0);'}

        %label{id: 'username'}= ranking.player.username
        - if ranking.player.username != current_player.username
          %a.nova-partida{href: 'javascript:void(0);'}t 