#modal-bg
#modal
  %form
    %h1 Adicione um resultado
    #casa
      %input#jogador-casa{:name => "jogador-casa", :type => "text", :value => "#{current_player.username}"}
      %input#placar-casa{:name => "placar-casa", :type => "text"}
      %input#time-casa{:name => "time-casa", :type => "text"}
    #versus X
    #visitante
      %input#time-visitante{:name => "time-visitante", :type => "text"}
      %input#placar-visitante{:name => "placar-visitante", :type => "text"}
      %input#jogador-visitante{:name => "jogador-visitante", :type => "text"}
      %input#jogador-visitante-id{:name => "jogador-visitante-id", :type => "hidden"}
    %input#submit-resultado{:type => "submit"}
  #close X