
#timeline.block
  %ul
    - @timeline.each do |t|   
      %li
        %p
          = raw parse_timeline_message(t.message)
          %span
            = "#{time_ago_in_words(t.created_at)} antes"


    