= render 'ranking'
= render 'timeline'

:javascript
  $(document).ready(function(){
    $('#ranking').fadeOut();
    $('#timeline').fadeIn();
    $('#goto-timeline').click(function(){
      window.location = "/#timeline";
    });
  });
