= render 'ranking'
= render 'timeline'

:javascript
  $(document).ready(function(){
    if($(window).width() <= 1024){
      $('#ranking').fadeOut();
      $('#timeline').fadeIn();
    }
    $('#goto-timeline').click(function(){
      window.location = "/#timeline";
    });
  });
