@media screen and (min-width: 1024px) {

    #wrapper {
        width: 1000px;
    }

    section {
        padding-bottom: 100px;
    }

    footer{
        display:none;
    }

    #ranking{
        float:left;
        position:relative;
        margin-right:1%;
    }

    #ranking ul{
        padding:0;
        margin:0;
        float:left;
        position:relative;
        width:100%;
    }

    #ranking ul li {
        position: relative;
        float: left;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #fff;
        width: 92%;
        height: 42px;
        list-style: none;
        color: #fff;
        font-size: 22px;
        padding: 8px 4% 0px 4%;
    }

    #ranking li:first-child, #timeline li:first-child{
        border-radius:2px 2px 0px 0px;
    }

    #ranking li:last-child, #timeline li:last-child{
        border-radius:0px 0px 2px 2px;
    }


    #ranking ul li:hover {
        opacity:0.92;
        cursor:pointer;
    }

    #timeline{
        float:left;
        margin-left:1%;
        float:right;
        position:relative;
        z-index:1;
        width:49%;
        height:auto;
        background:#fff;
        display:block;
    }

    #timeline ul{
        padding:0;
        margin:0;
        float:left;
        width:100%;
    }

    #timeline ul li{
        padding:0;
        margin:0;
        float:left;
        border-bottom:1px solid #e1e1e1;
        border-top: 1px solid rgb(255, 255, 255) !important;
        width:100%;
        height:50px;
        list-style:none;
        background:#eee;
    }

    .block{
        min-height:200px;
        width:48%;
        margin-top:20px;
    }

    #novo-ranking{
        position: absolute;
        font-size: 16px;
        color: #fff;
        border-radius: 2px;
        padding: 8px 15px;
        background: rgb(22, 117, 165);
        box-shadow: inset 0 1px 0 rgba(209, 209, 209, 0.4);
        background-image: -webkit-linear-gradient(rgb(34, 134, 199), rgb(0, 122, 184));
        background-image: -moz-linear-gradient(#2da1ec, #0191d9);
        background-image: -ms-linear-gradient(#2da1ec, #0191d9);
        background-image: linear-gradient(#2da1ec, #0191d9);
        color: #fff;
        border: 1px solid rgb(0, 88, 131);
        font-family: 'OpenSansLight';
        top: 5px;
        right: 4px;
        text-decoration:none;
        width:auto;
        height:auto;
    }

    header h1{
        display:block;
    }

    /*************************************************************MODAL CRIA NOVO JOGO*/

    #modal{
        background:#fff;
        width:550px;
        height:250px;
        left:50%;
        margin-left:-275px; 
        height:205px;
        top:50%;
        margin-top:-200px;
        position:fixed;
        z-index:1000;
        padding:20px 30px 30px 30px;
    }

    #modal-bg{
        width:100%;
        height:100%;
        position:fixed;
        background:#000;
        z-index:1000;
        opacity:0.9;
    }

    #modal h1{
        margin:0px 0px 20px 0px;
        padding:0;
    }

    #modal [type='submit']{
        position:absolute;
        font-size: 18px;
        color: #fff;
        border-radius: 2px;
        padding: 8px 0px 8px 0px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
        background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
        background-image: -moz-linear-gradient(#2da1ec, #0191d9);
        background-image: -ms-linear-gradient(#2da1ec, #0191d9);
        background-image: linear-gradient(#2da1ec, #0191d9);
        border: 1px solid #0082c3;
        font-family:'OpenSansLight';
    }

    #modal #submit-resultado{
        top:180px;
        right:30px;
        width:550px;
    }

    #versus{
        width:70px;
        height:73px;
        text-align:center;
        position:absolute;
        left:50%;
        top: 84px;
        margin-left:-35px;
        font-size:52px;

    }

    #casa{
        width:50%;
        float:left;
        min-height:100px;
        position:relative;
    }

    #visitante{
        width:50%;
        float:right;
        min-height:100px;
        position:relative;
    }

    #jogador-casa{
        position:absolute;
        width:140px;
        height:30px;
        padding:0px 10px 0px 10px;
    }

    #placar-casa{
        position:absolute;
        width:40px;
        text-align:center;
        height:70px;
        left:170px;
        font-size:35px;
        padding:0px 10px;
    }


    #time-casa{
        top:40px;
        position:absolute;
        width:140px;
        height:30px;
        padding:0px 10px 0px 10px;
    }

    #jogador-visitante{
        position:absolute;
        width:140px;
        height:30px;
        padding:0px 10px 0px 10px;
        right:0;
    }

    #placar-visitante{
        position:absolute;
        width:40px;
        text-align:center;
        height:70px;
        right:170px;
        font-size:35px;
        padding:0px 10px;
    }

    #time-visitante{
        top:40px;
        position:absolute;
        width:140px;
        height:30px;
        padding:0px 10px 0px 10px;
        right:0;
    }


}
