@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html{
    margin:0;
    padding:0;
    height:100%;
    border: 0 none; 
    font-family:'OpenSansLight';
}

@mixin btnStyle() {
    position: absolute;
    font-size: 16px;
    color: #fff;
    border-radius: 2px;
    padding: 8px 15px;
    background: rgb(22, 117, 165);
    box-shadow: inset 0 1px 0 rgba(209, 209, 209, 0.4);
    background-image: -webkit-linear-gradient(rgb(34, 134, 199), rgb(0, 122, 184));
    background-image: -moz-linear-gradient(#2da1ec, #0191d9);
    background-image: -ms-linear-gradient(#2da1ec, #0191d9);
    background-image: linear-gradient(#2da1ec, #0191d9);
    color: #fff;
    border: 1px solid rgb(0, 88, 131);
    font-family: 'OpenSansLight';
    top: 5px;
    right: 5px;
    text-decoration:none;
}

/*REGRAS GENERICAS*/

header{
    position:relative;
    height:50px;
    background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
    background-image: -moz-linear-gradient(#2da1ec, #0191d9);
    background-image: -ms-linear-gradient(#2da1ec, #0191d9);
    background-image: linear-gradient(#2da1ec, #0191d9);
    width:0;
    position:fixed;
    z-index:999;
    width:100%;
    border-bottom:1px solid rgb(0, 111, 167);
}

header h1{
    position:relative;
    margin:0 auto;
    text-align:center;
    color:#fff;
    font-size:20px;
    padding: 9px 0px;
}

#wrapper{
    position:relative;
    background:#777;
    margin: 0 auto;
    padding-top:50px;
}

section{
    position:relative;
    float:left;
    width:100%;
    padding-bottom:100px;
}


footer{
    position:fixed;
    height:100px;
    background:#888;
    margin: 0 auto;
    width:100%;
    bottom:0;
}

.pos1{
    background:#3da222;
    border-bottom:1px solid rgb(55, 145, 31) !important;
    font-size:26px;
}

.pos2{
    background:#7ca222;
    border-bottom:1px solid rgb(109, 143, 30) !important;
    border-top:1px solid rgb(154, 190, 70) !important;
}

.pos3{
    background:#d9c519;
    border-bottom:1px solid rgb(196, 178, 31) !important;
    border-top:1px solid rgb(235, 218, 86) !important;
}

.pos4{
    background: rgb(216, 146, 21);
    border-bottom: 1px solid rgb(192, 134, 30) !important;
    border-top: 1px solid rgb(248, 181, 61) !important;
}

.pos5{
    background: #CA330D;
    border-bottom: 1px solid #8B1717 !important;
    border-top: 1px solid #F83D3D !important;
}

#logo{
    position:absolute;
    display:block;
    width:50px;
    height:42px;
    background:url(logo.png) 2px 2px no-repeat;
    left:2px;
    text-decoration:none !important;
}


#logo span{
    color:#fff;
    position:absolute;
    left:48px;
    top:10px;
    line-height:17px;
    font-size:17px;
    letter-spacing:1px;
}

#novo-ranking{
    position:absolute;
    @include btnStyle();
    margin-right:65px;
}

#ranking li:first-child, #timeline li:first-child{
    border-radius:2px 2px 0px 0px;
}

#ranking li:last-child, #timeline li:last-child{
    border-radius:0px 0px 2px 2px;
}

#modal{
    display:none;
}

#modal-bg{
    display:none;
}

#close{
    width:20px;
    height:20px;
    text-align:center;
    position:absolute;
    right: 10px;
    top: 10px;
    margin-left:-35px;
    font-size:18px;
    font-family:arial;
    background:#eee;
    cursor:pointer;
}

.btn-sair{
    @include btnStyle();
    font-weight:bold;
}

input[type="text"]{
    background:none;
    border:1px solid #ccc;
    border-radius:2px;
}

.nova-partida{
    background:#ccc;
    display:block;
    width:50px;
    height:50px;
    position:absolute;
    right:0;
    top:0;
    background:url(ball.png) 12px 12px no-repeat;
    background-size:50%; 
}

#ranking label#username{
    display: none;
}