!!!
%html.no-js
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "", :name => "description"}/
    %meta{:content => "initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    :javascript
      $(document).ready(function() {
        
        var windowHeight = $(window).height();
        var headerHeight = $('header').height();
        var footerHeight = $('footer').height();

          if($(window).width() <= 1024){
              $("#novo-ranking").html("+");
          } else {
              $("#novo-ranking").html("Novo Ranking");
          }

          $('#goto-ranking').click(function(){
              $('#timeline').fadeOut()
              $('#ranking').fadeIn()
              return false
          })

          $('#goto-timeline').click(function(){
              $('#ranking').fadeOut()
              $('#timeline').fadeIn()
              return false
          })

          $('#ranking li').click(function(){
              $('#modal').fadeIn()
              $('#modal-bg').fadeIn()
              return false
          })

          $('#close').click(function(){
              $('#modal').fadeOut()
              $('#modal-bg').fadeOut()
              return false
          })

          $(window).resize(function() {                
              if($(window).width() <= 1024){
                  $("#novo-ranking").html("+");
                  $('#timeline').fadeOut()
              } else {
                  $("#novo-ranking").html("Novo Ranking");
                  $('#ranking').fadeIn()
                  $('#timeline').fadeIn()
              }
          });
      });

  %body
    = yield
    #modal-bg
    #modal
      %form
        %h1 Adicione um resultado
        #casa
          %input#jogador-casa{:name => "jogador-casa", :type => "text"}/
          %input#placar-casa{:name => "placar-casa", :type => "text"}/
          %input#time-casa{:name => "time-casa", :type => "text"}/
        #versus X
        #visitante
          %input#time-visitante{:name => "time-visitante", :type => "text"}/
          %input#placar-visitante{:name => "placar-visitante", :type => "text"}/
          %input#jogador-visitante{:name => "jogador-visitante", :type => "text"}/
        %input#submit-resultado{:type => "submit"}/
      #close X
    %header
      %a#logo{:href => ""}
        %span Raking Fizir
      %h1 Ranking da Escritorio
      %a#novo-ranking{:href => ""} Novo Ranking
    #wrapper
      %section
        #ranking.block
          %ul
            %li.pos1
              jogadorum
              %a.nova-partida{:href => "#"}
            %li.pos2 outronome
            %li.pos2 nomede.jogador
            %li.pos3 emaisnome.pra
            %li.pos3 semideia.denome
            %li.pos3 eumoutro
            %li.pos4 sobrenomeenome
            %li.pos4 rankinfifa
            %li.pos4 fifarakingvizir
            %li.pos4 vizirranking
        #timeline.block
          %ul
            %li
            %li
            %li
            %li
    %footer
      %a#goto-ranking{:href => ""} Ranking
      %a#goto-timeline{:href => ""} Timeline